@tailwind base;
@tailwind components;
@tailwind utilities;

/* defining the base css here  */

@layer base {
    /* body{ @apply flex flex-col min-h-screen w-full overflow-scroll } */
    body {
      @apply sm:w-full md:w-full lg:w-full xl:w-full;
    }
  
    footer {
      @apply fixed bottom-0 bg-slate-200 sm:w-full md:w-full lg:w-full;
    }
    button {
      @apply h-[40px] leading-5 align-middle cursor-pointer rounded-md bg-zinc-100 border-none;
    }
    input {
      @apply block w-full;
    }
    textarea {
      @apply block w-full;
    }
  }

  @layer components {
    
    .crelative:hover .cabsolute {
      display: block;
    }
    .cabsolute:after {
      content: "";
      display: block;
      position: absolute;
      bottom: -10px;
      left: 50%;
      
    }
    .btn {
        @apply flex items-center justify-center p-4;
      }
      .btn-sm {
        @apply p-2 h-[40px] text-sm font-Poppins font-normal;
      }
      .btn-text {
        @apply text-center font-Quicksand text-[16px] font-normal text-black;
      }
    
      .input-sm {
        @apply px-2 py-1 text-sm font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition
                    ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none;
      }
    
      .input-md {
        @apply px-2 py-2 text-sm font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition
        ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:outline-none focus:border-green-900;
      }
  }